# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# qmake files and directories
debug/
release/
Makefile
Makefile.Debug
Makefile.Release
moc_*.cpp
*.qm

# System files
Thumbs.db
.DS_Store
*.app
